<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Food Delivery Application</title>
</head>
<body>
<div align="center">
    <h1>Customers Stats</h1>
    <!--<a href="/new">Enter New Sale</a>-->
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>CUSTOMERID</th>
                <th>TOTALORDERS</th>
                <th>TOTALAMOUNTSPENT</th>

                <!--<th>Actions</th>-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="vcs : ${listCustStats}">
                <td th:text="${vcs.customerId}">CUSTOMERID</td>
                <td th:text="${vcs.totalOrders}">TOTALORDERS</td>
                <td th:text="${vcs.totalAmountSpent}">TOTALAMOUNTSPENT</td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>