<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Food Delivery Application</title>
</head>
<body>
<div align="center">
    <h1>ITEM TYPES</h1>
    <!--<a href="/new">Enter New Sale</a>-->
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Restaurant_Name</th>
                <th>High_Priced</th>
                <th>High_Revenue_Price</th>
                <th>Low_Priced</th>
                <th>Low_Revenue_Price</th>
                <th>Percent_High_price_Revenue</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vit : ${listItemType}">
                <td th:text="${vit.Restaurant_Name}">Restaurant_Name</td>
                <td th:text="${vit.High_Priced}">High_Priced</td>
                <td th:text="${vit.High_Revenue_Price}">High_Revenue_Price</td>
                <td th:text="${vit.Low_Priced}">Low_Priced</td>
                <td th:text="${vit.Low_Revenue_Price}">Low_Revenue_Price</td>
                <td th:text="${vit.Percent_High_price_Revenue}">Percent_High_price_Revenue</td>               
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>